body {
    text-align: center;
    background-color: rgb(39, 28, 51);
}

#title {
    color: rgb(242, 244, 245);
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    display: inline-block;
    border-radius: 20%;
    margin: 25px;

}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.gameover {
    opacity: 0.7;
    background-color: red;
}

.pressed {
    box-shadow: 0 0 20 wheat;
    background-color: gray;
}